# Godot 4+ specific ignores
.godot/
/android/



*.translation
export_presets.cfg

# Archivos temporales del sistema
.DS_Store
Thumbs.db
desktop.ini

# Carpeta de exportaciones
exports/
build/

# Archivos de Visual Studio Code si lo usás
.vscode/

# Logs
*.log